In [ ]:
pip install mamba #se instala la libreria mamba

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mamba in c:\users\nandy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.11.3)
Requirement already satisfied: clint in c:\users\nandy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mamba) (0.5.1)
Requirement already satisfied: coverage in c:\users\nandy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from mamba) (7.4.4)
Requirement already satisfied: args in c:\users\nandy\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from clint->mamba) (0.1.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install bs4 #se instala la libreria BeautifulSoup

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

ERROR: Invalid requirement: '#se': Expected package name at the start of dependency specifier
    #se
    ^

In [6]:
from bs4 import BeautifulSoup # este modulo nos ayuda con el web scrapping
import requests  # este modulo nos permite descargar paginas web

In [ ]:
%%html
<!DOCTYPE html>
<html>
<head>
<title>Ejemplo de PaginaWeb</title>
</head>
<body>
<h3><b id='boldest'>Lebron James</b></h3>
<p> Salary: $ 92,000,000 </p>
<h3> Stephen Curry</h3>
<p> Salary: $85,000, 000 </p>
<h3> Kevin Durant </h3>
<p> Salary: $73,200, 000</p>
</body>
</html>

In [8]:
# almacenamos la pagina web en la variable HTML
html="<!DOCTYPE html><html><head><title>Ejemplo de PaginaWeb</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [9]:
# convertimos la variable html en una estructura sintactica usando la libreria bs4 y el metodo ".parse", todo almacenado en la variable "soup"
soup = BeautifulSoup(html, "html.parser")

In [10]:
#use el metodo ".pretify()" para mostrar la estructura html de la variable 'soup'
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Ejemplo de PaginaWeb
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [12]:
#con el metodo ".title" pudimos sacar el titulo de la pagina web
tag_object=soup.title 
print("tag object:",tag_object)

tag object: <title>Ejemplo de PaginaWeb</title>

In [13]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [14]:
tag_object=soup.h3
tag_object

In [ ]:
# la "b" es el atributo bold, con el tag_object.b buscamos en la pagina web donde se encuentra este atributo que viene siendo el child tag
tag_child =tag_object.b
tag_child

In [ ]:
# nos muestra la primera pagina, osea el elemnto principal de la pagina
parent_tag=tag_child.parent
parent_tag

In [ ]:
#nos muestra todo el cuerpo de la pagina web
tag_object.parent

In [ ]:
#para hallar el parrafo "tag_object.next_sibling"
sibling_1=tag_object.next_sibling
sibling_1

In [ ]:
#para hallar el encabezado del parrafo "sibling_1.next_sibling"
sibling_2=sibling_1.next_sibling
sibling_2

In [ ]:
# para hallar el parrafo relacionado con el salario de steph curry
sibling_2.next_sibling

In [ ]:
# este nos identifica el child object que tiene el id 'boldest'
tag_child['id']

'boldest'

In [ ]:
#para hallar el id en formato de diccionario se usa el modulo .attrs
tag_child.attrs

{'id': 'boldest'}

In [32]:
#tambien se puede usar el metodo get() para hallar el contenido del "Tag"
tag_child.get('id')

'boldest'

In [33]:
sibling_3=sibling_2.next_sibling
sibling_3

In [34]:
sibling_3.next_sibling

In [ ]:
#para hallar el texto que esta dentro de un "Tag" se usa ".string"
tag_string = tag_child.string
tag_string

'Lebron James'

In [ ]:
# para verificar si el string es navegable
type(tag_string)

bs4.element.NavigableString

In [38]:
#para convertirlo en un objeto string
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [54]:
%%html
<!DOCTYPE html>
<html>
    <table>
      <tr>
        <td id='flight' >Flight No</td>
        <td>Launch site</td> 
        <td>Payload mass</td>
      </tr>
      <tr> 
        <td>1</td>
        <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td>
        <td>300 kg</td>
      </tr>
      <tr>
        <td>2</td>
        <td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td>
        <td>94 kg</td>
      </tr>
      <tr>
        <td>3</td>
        <td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td>
        <td>80 kg</td>
      </tr>
    </table>
<html>

In [45]:
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

In [ ]:
# convertimos la variable html en una estructura sintactica usando la libreria bs4 y el metodo ".parse", todo almacenado en la variable "table"
table_bs = BeautifulSoup(table,"html.parser")

In [ ]:
# el metodo "find_all" buscar todos los tags con el nombre "tr"
table_rows = table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [ ]:
# para obtener la primera fila del html //Tambien lo podemos hallar con este codigo: "print(table_rows[0])"
first_row = table_rows[0]
first_row

<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>

In [60]:
# para hallar el tipo del tag
print(type(first_row))

<class 'bs4.element.Tag'>

In [62]:
#para obtener el child
first_row.td

In [ ]:
# esta iteracion nos muestra cada fila que corresponde a la tabla //el metodo enumarate() se usa para enumerar cada fila
for i, row in enumerate(table_rows):
    print(f'row {i}, is {row}.')

row 0, is <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>.
row 1, is <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>.
row 2, is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>.
row 3, is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>.

In [ ]:
# nos muestra separadamente cada fila y las columnas que contienen
for i,row in enumerate(table_rows):
    print(f'row: {i}')
    cells = row.find_all('td')
    for j, cell in enumerate(cells):
        print(f'Column: {j}, cell: {cell}')

row: 0
Column: 0, cell: <td id="flight">Flight No</td>
Column: 1, cell: <td>Launch site</td>
Column: 2, cell: <td>Payload mass</td>
row: 1
Column: 0, cell: <td>1</td>
Column: 1, cell: <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
Column: 2, cell: <td>300 kg</td>
row: 2
Column: 0, cell: <td>2</td>
Column: 1, cell: <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
Column: 2, cell: <td>94 kg</td>
row: 3
Column: 0, cell: <td>3</td>
Column: 1, cell: <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
Column: 2, cell: <td>80 kg</td>

In [ ]:
# este codigo hace lo mismo que esta arriba, pero de una forma mas desordenada
list_input = table_bs.find_all(name=['tr','td'])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]

In [ ]:
#para hallar un atributo dentro del html(puede ser clase, id, enlace atc)
table_bs.find_all(id='flight')

In [ ]:
# ejemplo 2 para atributos// se busco elementos con este valor en href
table_bs.find_all(href="https://en.wikipedia.org/wiki/Florida")

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [ ]:
# ejemplo 3 para atributos // se busco elementos con href
table_bs.find_all(href=True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [ ]:
# ejemplo 4 para atributos // se busco elementos sin href
table_bs.find_all(href=False)

[<table><tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr></table>,
 <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]

In [82]:
#
soup.find_all(id='boldest')

In [ ]:
#tambien podemos buscar un elemento usado "string"
table_bs.find_all(string='Florida')

['Florida', 'Florida']

In [89]:
%%html
<h3>Rocket Launch </h3>

<p>
<table class='rocket'>
  <tr>
    <td>Flight No</td>
    <td>Launch site</td> 
    <td>Payload mass</td>
  </tr>
  <tr>
    <td>1</td>
    <td>Florida</td>
    <td>300 kg</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Texas</td>
    <td>94 kg</td>
  </tr>
  <tr>
    <td>3</td>
    <td>Florida </td>
    <td>80 kg</td>
  </tr>
</table>
</p>
<p>

<h3>Pizza Party  </h3>
  
    
<table class='pizza'>
  <tr>
    <td>Pizza Place</td>
    <td>Orders</td> 
    <td>Slices </td>
   </tr>
  <tr>
    <td>Domino's Pizza</td>
    <td>10</td>
    <td>100</td>
  </tr>
  <tr>
    <td>Little Caesars</td>
    <td>12</td>
    <td >144 </td>
  </tr>
  <tr>
    <td>Papa John's </td>
    <td>15 </td>
    <td>165</td>
  </tr>

In [90]:
two_tables = "<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [94]:
two_tables_bs = BeautifulSoup(two_tables, "html.parser")

In [ ]:
#para hallar la primera tabla usamos el tag name table
two_tables_bs.find("table")

<table class="rocket"><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table>

In [98]:
#para hallar un atributo(clase[class_]) de la 2nda tabla
two_tables_bs.find('table',class_='pizza')

<table class="pizza"><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td>144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr></table>

In [ ]:
#Download and Scraping 'Recoleccion de datos en la web'
#creamos la variable url para almacenar una pagina web
url = 'http://www.ibm.com'

In [112]:
#creamos una variable "data" para almecenar los datos y usaremos el metodo get() para descargar contenido de la pagina en formato de texto
# "requests" es una libreria de python que nos permite enviar solicitudes HTTP de forma sencilla
data = requests.get(url).text

In [113]:
#creamos un objeto 'soup' para la variable data usando el constructor BeautifulSoup
soup = BeautifulSoup(data,"html.parser")

In [ ]:
#hacemos una iteracion para hacer el scrape de los enlaces // Para hallar todos los enlaces de la pagina web
for link in soup.find_all('a',href=True):
    print(link.get('href'))

https://www.ibm.com/granite?lnk=dev
https://developer.ibm.com/technologies/artificial-intelligence?lnk=dev
https://www.ibm.com/products/watsonx-code-assistant?lnk=dev
https://www.ibm.com/watsonx/developer/?lnk=dev
https://www.ibm.com/thought-leadership/institute-business-value/report/ceo-generative-ai?lnk=bus
https://www.ibm.com/think/reports/ai-in-action?lnk=bus
https://www.ibm.com/products/watsonx-orchestrate/ai-agent-for-hr?lnk=bus
https://www.ibm.com/products/guardium-data-security-center?lnk=bus
https://www.ibm.com/artificial-intelligence?lnk=ProdC
https://www.ibm.com/hybrid-cloud?lnk=ProdC
https://www.ibm.com/consulting?lnk=ProdC

In [141]:
#para hallar las imagenes de la pagina web // use src porque en HTML las imagenes estan almacenadas este atributo
for link in soup.find_all("img"): #imagenes son representados con el tag <img> en html
    print(link)
    print(link.get("src"))

In [ ]:
#hacer scrape en una tabla html
url1 = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/HTMLColorCodes.html"

In [144]:
dato = requests.get(url1).text

In [145]:
bs_soup = BeautifulSoup(dato,"html.parser")

In [146]:
table = bs_soup.find("table")

In [ ]:
for row in table.find_all("tr"):
    cols = row.find_all("td") #hallamos todas las columnas de la tabla
    color_name = cols[2].string #almacena los valores de la 3era columna como color_name
    color_code = cols[3].string #almacena los valores de la 4ta columna como color_code
    print("{}--->{}".format(color_name,color_code)) #imprime los valores(nombre y codigo relacionado)

Color Name--->None
lightsalmon--->#FFA07A
salmon--->#FA8072
darksalmon--->#E9967A
lightcoral--->#F08080
coral--->#FF7F50
tomato--->#FF6347
orangered--->#FF4500
gold--->#FFD700
orange--->#FFA500
darkorange--->#FF8C00
lightyellow--->#FFFFE0
lemonchiffon--->#FFFACD
papayawhip--->#FFEFD5
moccasin--->#FFE4B5
peachpuff--->#FFDAB9
palegoldenrod--->#EEE8AA
khaki--->#F0E68C
darkkhaki--->#BDB76B
yellow--->#FFFF00
lawngreen--->#7CFC00
chartreuse--->#7FFF00
limegreen--->#32CD32
lime--->#00FF00
forestgreen--->#228B22
green--->#008000
powderblue--->#B0E0E6
lightblue--->#ADD8E6
lightskyblue--->#87CEFA
skyblue--->#87CEEB
deepskyblue--->#00BFFF
lightsteelblue--->#B0C4DE
dodgerblue--->#1E90FF

In [148]:
#Recopilar data desde una tabla HTML desde un dataframe usando BeautifulSoup y Pandas
import pandas as pd #importamos la libreria pandas

In [149]:
#declaramos la variable url para almacenar el enlace html
url = "https://en.wikipedia.org/wiki/World_population"

In [150]:
#cramos la variable data para convertir el contenido en formato de texto
data = requests.get(url).text

In [151]:
#creamos un objeto 'soup' para la variable data usando el constructor BeautifulSoup
soup = BeautifulSoup(data,"html.parser")

In [152]:
#para encontrar todas las tablas en una pagina web
table = soup.find_all("table")

In [167]:
#para hallar cunatas tablas se encuentran en el url
len(table)

31